[Unit]
Description=transitbackend for Catenary

[Service]
WorkingDirectory= /opt/catenary-backend
User=kyler
ExecStart=cargo run --release --bin http_server -- --postgres "host=localhost user=postgres password=PASSWORD"

Restart=always
RestartSec=1

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=autodeploy

[Install]
WantedBy=multi-user.target
